body {
    background-color: #f5f5f5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.form-login {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-login .form-control , .form-signup .form-control {
    padding: 10px;
}

.form-signup {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}

.content {
	padding: 1rem 1rem;
}